@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about">

    <p>
        This project was created in Week 9 of the <a href="https://www.techelevator.com/">Tech Elevator</a> bootcamp, using Visual Studio and the ASP.NET framework.
        The code is available <a href="https://github.com/ithuvanian/national-parks">here.</a>
    </p>


    <p>All images and icons are used under license, and come from the following sources:</p>
    <ul>
        <li>
            Cuyahoga | https://www.publicdomainpictures.net/pictures/230000/velka/grand-teton-mountains.jpg
        </li>
        <li>
            Yellowstone | https://www.pexels.com/photo/yellowstone-national-park-583086/
        </li>
        <li>
            Grand Teton | https://www.pexels.com/photo/grand-teton-national-park-tetons-wyoming-833777/
        </li>
        <li>
            Yosemite | https://www.pexels.com/photo/picture-of-trees-near-mountain-640907/
        </li>
        <li>
            Glacier https://media.defense.gov/2015/Jun/23/2001075700/-1/-1/0/150620-F-XA056-045.JPG
        </li>
        <li>
            Great Smoky Mtn | https://upload.wikimedia.org/wikipedia/commons/3/3a/Clifftops4-7-07.jpg
        </li>
        <li>
            Mt Ranier | https://www.publicdomainpictures.net/view-image.php?image=1318
        </li>
        <li>
            Rocky Mtn | https://www.goodfreephotos.com/united-states/colorado/rocky-mountains-national-park/beautiful-landscape-of-rocky-mountains-national-park-colorado.jpg.php
        </li>
        <li>
            Grand Canyon | https://www.goodfreephotos.com/united-states/arizona/grand-canyon-national-park/landscape-and-rain-clouds-at-grand-canyon-national-park-arizona.jpg.php
        </li>
        <li>
            Everglades | https://www.pexels.com/photo/blue-colorful-everglades-florida-33348/
        </li>
        <li>
            mountain icon for header | https://pixabay.com/en/icon-landscape-mountains-snow-1294942/
        </li>
        <li>
            weather icons | http://s-ings.com/typicons/
        </li>
    </ul>

    <ul>
        <li>Michael Weaver</li>
        <a href="mailto:michd.weaver@gmail.com">michd.weaver@gmail.com</a>
    </ul>

</div>



